extends ../shared/template
block content

  button#blue BLUE
  button#gold GOLD
  button#color COLOR
  input#color-value(type='color')
  button#ftFadeOut Fade Out Footer
  button#ftFadeIn Fade In Footer
  input#fade-number(type='number')


  h2 Home Page!
  #a A
  #b B
  #c C
  ul
    li D
    li E
    li F
  .g G
  .h H
  .i I

  footer (c) 2014, Melanie Fryman

block scripts
    script(src='/js/user/main.js')
    script(src='/js/user/alpha.js')


